<div class="imagecrop_ui_section imagecrop_ui_data">
	<h3><?= $GLOBALS['TL_LANG']['MSC']['imagecropData'] ?></h3>
	<div class="input-group input-group-sm">
		<label class="input-group-addon" for="dataWidth"><?= $GLOBALS['TL_LANG']['MSC']['imagecropWidth'] ?></label>
		<input type="text" class="form-control" id="dataWidth" placeholder="width">
		<span class="input-group-addon">px</span>
	</div>
	<div class="input-group input-group-sm">
		<label class="input-group-addon" for="dataHeight"><?= $GLOBALS['TL_LANG']['MSC']['imagecropHeight'] ?></label>
		<input type="text" class="form-control" id="dataHeight" placeholder="height">
		<span class="input-group-addon">px</span>
	</div>
	<div class="input-group input-group-sm">
		<label class="input-group-addon" for="dataX">X</label>
		<input type="text" class="form-control" id="dataX" placeholder="x">
		<span class="input-group-addon">px</span>
	</div>
	<div class="input-group input-group-sm">
		<label class="input-group-addon" for="dataY">Y</label>
		<input type="text" class="form-control" id="dataY" placeholder="y">
		<span class="input-group-addon">px</span>
	</div>

<!-- 	<button type="button" class="btn btn-primary" id="setInputData" >
	<span class="docs-tooltip" data-toggle="tooltip" title="cropper.setData(data)">
		Set Data
	</span>
	</button> -->


	<!--
	<div class="input-group input-group-sm">
		<label class="input-group-addon" for="dataRotate">Rotate</label>
		<input type="text" class="form-control" id="dataRotate" placeholder="rotate">
		 <span class="input-group-addon">deg</span> 
	</div>
	<div class="input-group input-group-sm">
		<label class="input-group-addon" for="dataScaleX">ScaleX</label>
		<input type="text" class="form-control" id="dataScaleX" placeholder="scaleX">
	</div>
	<div class="input-group input-group-sm">
		<label class="input-group-addon" for="dataScaleY">ScaleY</label>
		<input type="text" class="form-control" id="dataScaleY" placeholder="scaleY">
	</div>
	-->
</div>